<mat-card>
  <h3>Commande</h3>
  <mat-divider></mat-divider>

  <div class="order-section" *ngIf="order.recipes.length">
    <div mat-subheader>Recettes</div>

    <app-ordered-recipe-item
      *ngFor="let orderedRecipe of order.recipes"
      [orderedRecipe]="orderedRecipe"
    ></app-ordered-recipe-item>
  </div>

  <mat-list>
    <div class="order-section" *ngIf="order.drinks.length">
      <div mat-subheader>Boissons</div>

      <mat-list-item *ngFor="let drink of order.drinks">
        <app-ordered-drink-item [drink]="drink"></app-ordered-drink-item>
      </mat-list-item>
    </div>
  </mat-list>

  <mat-list class="total" *ngIf="order.recipes.length || order.drinks.length">
    <mat-list-item>
      <div class="total-row">
        <div>Total recette</div>
        <div class="price">{{ total.recipes | currency: 'MGA':'Ar ' }}</div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="total-row">
        <div>Total Boisson</div>
        <div class="price">{{ total.drinks | currency: 'MGA':'Ar ' }}</div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="total-row">
        <div>Total Commande</div>
        <div class="price">{{ total.order | currency: 'MGA':'Ar ' }}</div>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="total.discountedOrder">
      <div class="total-row">
        <div>Total Commande apres reduction boisson (20%)</div>
        <div class="price">
          {{ total.discountedOrder | currency: 'MGA':'Ar ' }}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
