mat-card {
  height: 100%;
  padding: 2em 3em;
  box-sizing: border-box;
  overflow-y: scroll;

  .order-section {
    margin: 3em 0;

    app-ordered-drink-item,
    app-ordered-recipe-item {
      width: 100%;
    }
  }

  .total {
    .total-row {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .price {
        font-weight: bold;
      }
    }
  }
}
